

<div><%= "#{@duplicate_start_time.start_time.strftime("%Y年 %m月 %d日")}の飲酒ランキング" %></div>

<div class="ranking-wrapper">
  <% @rankings.each.with_index(1) do |ranking, i| %>
    <div class="personal-ranking">
      <%= "第#{i}位 :" %> <strong><%= link_to "#{ranking.user.nickname}", drinks_ranking_info_path(user_id: ranking.user_id) %></strong>　<%= "アルコール量：#{ranking.total_abv}mg" %>
    </div>
  <% end %>
</div>